{
  "presets": [
    "react",
    ["env", {
      "useBuiltIns": true,
      "targets": {
        "browsers": [
          "ie >= 11"
        ]
      },
      "modules": false,
      "loose": true,
    }]
  ],
  "plugins": [
    "external-helpers",
    "transform-function-bind",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}